server:
  port: ${PORT:8888}

spring:
  application:
    name: tukuntech-config-server

  cloud:
    compatibility-verifier:
      enabled: false
    config:
      server:
        git:
          uri: ${CONFIG_REPO_URI:https://github.com/TukunTechBack-Microservices/tukuntech-config-repo.git}
          default-label: ${CONFIG_REPO_BRANCH:main}
          clone-on-start: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never
