server:
  port: 8888

spring:
  application:
    name: tukuntech-config-server

  cloud:
    compatibility-verifier:
      enabled: false
    config:
      server:
        git:
          uri: https://github.com/TukunTechBack-Microservices/tukuntech-config-repo.git
          default-label: main
          clone-on-start: true
